@use "../../../styles/common-tables" as *;
@use "../../../styles/responsive" as *;

.product-table--variant-2 {
  .product-table__header-cell:first-child,
  .product-table__cell:first-child {
    @include md {
      min-width: 134px;
    }

    @include xl {
      min-width: 184px;
    }
  }

  .product-table__header-cell:nth-child(2),
  .product-table__cell:nth-child(2) {
    @include md {
      min-width: 157px;
    }

    @include xl {
      min-width: 218px;
    }
  }

  .product-table__header-cell:nth-child(3),
  .product-table__cell:nth-child(3) {
    @include lg {
      min-width: 142px;
    }
    @include xl {
      min-width: 173px;
    }
  }
  .product-table__header-cell:nth-child(4),
  .product-table__cell:nth-child(4) {
    @include md {
      min-width: 110px;
    }

    @include xl {
      min-width: 155px;
    }
  }
  .product-table__header-cell:nth-child(5),
  .product-table__cell:nth-child(5) {
    @include md {
      min-width: 163px;
    }

    @include xl {
      min-width: 353px;
    }
  }
  .product-table__header-cell:nth-child(6),
  .product-table__cell:nth-child(6) {
    @include lg {
      min-width: 94px;
    }
  }
  .product-table__header-cell:nth-child(7),
  .product-table__cell:nth-child(7) {
    @include xl {
      min-width: 156px;
    }
  }

  .product-table__header-cell:last-child,
  .product-table__cell:last-child {
    @include md {
      min-width: 132px;
    }
  }

  .product-table__count {
    padding: 1px 2px 4px 2px;

    @include sm {
      padding: 3px 4px 4px 4px;
    }

    @include md {
      padding: 2px 4px 5px 4px;
    }
  }
}
