@use "./mixins" as *;
@use "./responsive" as *;

.product-table {
  padding-top: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-border-secondary);

  &__title-wrapper {
    @include flex($justify: flex-start, $gap: 15px);
    margin-bottom: 15px;
    padding: 0 10px;

    @include sm {
      padding: 0 20px;
    }

    @include lg {
      padding: 0 30px;
    }
  }

  &__title {
    @include heading-common;
  }

  &__count {
    width: 18px;
    height: 18px;
    background-color: var(--color-bg-rectangle);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-text-rectangle);
    padding: 3px 6px 3px 5px;

    @include md {
      width: 25px;
      height: 25px;
      font-size: 15px;
      padding: 3px 8px 4px 7px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    padding: 0 10px;
    white-space: nowrap;
  }

  &__table,
  &__row,
  &__header-cell,
  &__body,
  &__cell {
    display: block;
  }

  &__head {
    display: none;
    font-weight: normal;
    font-size: 10px;

    @include md {
      font-size: 12px;
      font-weight: 700;
    }

    @include lg {
      font-size: 16px;
    }

    @include xl {
      font-size: 22px;
    }
  }

  @include sm {
    &__table {
      display: table;
    }
    &__head {
      display: table-header-group;
    }
    &__row {
      display: table-row;
    }
    &__header-cell {
      display: table-cell;
    }
    &__body {
      display: table-row-group;
    }
    &__cell {
      display: table-cell;
    }
  }

  &__row {
    margin-bottom: 14px;
    padding: 10px;
    border: 1px solid var(--color-border-secondary);
    border-radius: 5px;

    @include sm {
      border-top: 1px solid var(--color-border-secondary);
      border-bottom: 1px solid var(--color-border-primary);
      border-left: none;
      border-right: none;
      margin-bottom: 0;
    }
  }

  &__header-cell {
    border-right: 1px solid var(--color-border-primary);

    &:last-child {
      border-right: none;
      min-width: 100px;
      max-width: 102px;

      @include md {
        min-width: 220px;
        max-width: 222px;
      }

      @include lg {
        min-width: 400px;
        max-width: 402px;
      }
    }
  }

  &__header-cell,
  &__cell {
    padding: 11px 11px;
    text-align: left;

    @include md {
      padding: 11px 20px;
    }
  }

  &__header-cell:first-child,
  &__cell:first-child {
    @include sm {
      padding-left: 20px;
    }

    @include lg {
      min-width: 135px;
      padding-left: 30px;
    }
  }

  &__header-cell:nth-child(2),
  &__cell:nth-child(2) {
    @include xl {
      min-width: 163px;
    }
  }

  &__header-cell:nth-child(3),
  &__header-cell:nth-child(4),
  &__header-cell:nth-child(6),
  &__cell:nth-child(3),
  &__cell:nth-child(4),
  &__cell:nth-child(6) {
    @include xl {
      min-width: 172px;
    }
  }

  &__header-cell:nth-child(5),
  &__cell:nth-child(5) {
    @include lg {
      min-width: 97px;
    }
  }

  &__header-cell:nth-child(7),
  &__cell:nth-child(7) {
    @include lg {
      min-width: 156px;
    }
  }

  &__header-cell:last-child,
  &__cell:last-child {
    @include sm {
      padding-right: 20px;
    }

    @include lg {
      padding-right: 30px;
    }
  }

  &__cell {
    position: relative;
    padding-left: 55%;
    font-size: 10px;
    border: none;
    border-bottom: 1px solid var(--color-border-primary);

    @include sm {
      position: static;
      padding-left: 12px;
    }

    @include md {
      font-size: 12px;
      padding-left: 20px;
    }

    @include lg {
      font-size: 16px;
    }

    @include xl {
      font-size: 20px;
    }

    &::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      top: 8px;
      top: 10.9px;
      font-size: 12px;
      font-weight: bold;

      white-space: nowrap;

      @include sm {
        content: none;
        position: static;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    @include scale-on-hover;

    @include lg {
      width: 25px;
      height: 25px;
    }
  }
}

.cell-content {
  @include flex($justify: space-between, $align: center);
}
