@mixin transition-standart {
  transition: all 300ms ease-in-out;
  @content;
}

@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin grid($columns: repeat(2, 1fr), $gap: 16px, $place: initial) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
  place-items: $place;
}

