@use "./responsive" as *;

@mixin transition-standart {
  transition: all 300ms ease-in-out;
  @content;
}

@mixin scale-on-hover($scale: 1.1, $duration: 0.3s, $easing: ease-in-out) {
  transition: transform $duration $easing;

  &:hover {
    transform: scale($scale);
  }
}

@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin grid($columns: repeat(2, 1fr), $gap: 16px, $place: initial) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
  place-items: $place;
}

@mixin heading-common {
  font-size: 14px;
  font-weight: 700;

    @include md {
    font-size: 18px;
  }

  @include lg {
    font-size: 25px;
  }
}
