<!-- <div *ngIf="product; else loading" class="modal-content">
  <app-edit-modal-header [product]="product" (closeModal)="onModalClose()"></app-edit-modal-header>
  <app-edit-modal-data-elements></app-edit-modal-data-elements>
  <app-edit-modal-location-list></app-edit-modal-location-list>
  <app-edit-modal-ebay-listings></app-edit-modal-ebay-listings>
  <app-edit-modal-similar-products></app-edit-modal-similar-products>
</div>
<ng-template #loading>
  <p>Завантаження...</p>
</ng-template> -->


<div class="modal-overlay" (click)="onBackdropClick($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <ng-container *ngIf="product; else loading">
      <app-edit-modal-header [product]="product" (closeModal)="onModalClose()"></app-edit-modal-header>
      <app-edit-modal-data-elements></app-edit-modal-data-elements>
      <app-edit-modal-location-list></app-edit-modal-location-list>
      <app-edit-modal-ebay-listings></app-edit-modal-ebay-listings>
      <app-edit-modal-similar-products></app-edit-modal-similar-products>
    </ng-container>

    <ng-template #loading>
      <p>Завантаження...</p>
    </ng-template>
  </div>
</div>