<section class="product-table" role="region" aria-label="Product Locations Table">
    <div class="product-table__title-wrapper">
      <h2 class="product-table__title">List Location</h2>
      <span class="product-table__count" id="locations-count">6</span>
    </div>
  <table class="product-table__table">
    <thead class="product-table__head">
      <tr class="product-table__row">
        <th class="product-table__header-cell" *ngFor="let col of columns; let i = index" scope="col" [attr.id]="'col-' + i">
          {{ col.label }}
        </th>
      </tr>
    </thead>
    <tbody class="product-table__body" *ngFor="let i of [0, 1, 2, 3]">
      <tr *ngFor="let row of product?.location; let rowIndex = index" class="product-table__row">
        <td
          *ngFor="let col of columns; let i = index"
          class="product-table__cell"
          [attr.data-label]="col.label"
          [attr.headers]="'col-' + i"
        >
          <ng-container *ngIf="i === columns.length - 1; else plainText">
            <span class="cell-content">
              {{ row[col.key] }}
              <button
                class="product-table__button" [attr.aria-label]="'View location details for row ' + (rowIndex + 1)"
              > 
              <img
                src="assets/icons/more.png"
                alt="View location details"
                class="product-table__icon"
              /></button>
            </span>
          </ng-container>
          <ng-template #plainText>
            {{ row[col.key] }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</section>
