@use "../../../styles/mixins" as *;
@use "../../../styles/responsive" as *;

.product-info {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-border-secondary);

  &__container {
    @include grid($columns: repeat(1, 1fr));

    @include sm {
      @include grid($columns: 1fr 1fr min-content);
    }
  }

  &__details {
    @include flex(
      $justify: flex-start,
      $align: flex-start,
      $direction: column,
      $gap: 10px
    );
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-border-line);

    @include sm {
      border-bottom: none;
      padding-right: 15px;
      border-right: 1px solid var(--color-border-line);
    }

    @include md {
      padding-bottom: 30px;
    }
  }

  &__item {
    @include flex($justify: space-between, $align: center, $gap: 10px);
    width: 100%;
    box-shadow: 0 0 2px 0 var(--color-box-shadow);
    border-radius: 10px;
    padding: 5px 10px;

    @include md {
      padding: 10px;
    }

    @include lg {
      padding: 5px 35px 5px 20px;
    }

    @include xl {
      padding: 5px 55px 5px 20px;
    }

    &--p20 {
      @include lg {
        padding-right: 20px;
      }
    }

    &--p-top-bottom {
      @include lg {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }

  &__label {
    font-size: 10px;
    font-style: normal;

    @include md {
      font-size: 14px;
    }

    @include lg {
      font-size: 20px;
    }
  }

  &__value-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__value {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;

    @include md {
      font-size: 16px;
      font-weight: 600;
    }

    @include lg {
      font-size: 22px;
      font-weight: 600;
    }

    &--link {
      font-size: 8px;

      @include md {
        font-size: 10px;
      }

      @include lg {
        font-size: 14px;
      }

      @include xl {
        font-size: 18px;
      }
    }
  }

  &__button-icon {
    width: 16px;
    height: 16px;
    @include scale-on-hover;

    @include lg {
      width: 20px;
      height: 20px;
    }

    @include xl {
      width: 25px;
      height: 25px;
    }
  }

  &__gallery {
    @include flex(
      $justify: flex-start,
      $align: stretch,
      $direction: column,
      $gap: 20px
    );
  }

  &__image-wrapper {
    @include flex(
      $justify: flex-start,
      $align: flex-start,
      $direction: column,
      $gap: 14px
    );
  }

  &__image-caption {
    font-size: 16px;

    @include sm {
      font-size: 12px;
    }

    @include md {
      font-size: 18px;
    }
  }

  &__image {
    @include sm {
      width: 115px;
      height: 115px;
    }
    @include md {
      width: 225px;
      height: 225px;
    }
  }
}
