@use "../../../styles/common-tables" as *;
@use "../../../styles/responsive" as *;
@use "../../../styles/mixins" as *;

.product-table--variant-3 {
  .product-table__header-cell:first-child,
  .product-table__cell:first-child {
    @include lg {
      min-width: 170px;
    }
  }

  .product-table__header-cell:nth-child(2),
  .product-table__cell:nth-child(2) {
    @include lg {
      min-width: 140px;
    }
  }

  .product-table__header-cell:last-child,
  .product-table__cell:last-child {
    @include sm {
      width: 100%;
    }
  }
  .product-table__buttons {
    @include flex($justify: flex-end, $gap: 15px);
        padding: 0 10px;

      @include sm {
    padding: 0 20px;
  }

    @include lg {
    padding: 0 30px;

  }
  }

  .product-table__table {
    margin-bottom: 15px;
  }

  .product-table__count {
    padding: 2px 6px 3px 5px;

    @include md {
      padding: 2px 4px 3px 8px;
    }
  }
}
